.btn__search{
    background-color: blueviolet;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    /* box-shadow: rgba(0, 0, 0, 0.4); */
     
}
.btn__search-icone{
    width: 30px;
}