@font-face{
    font-family: "Raleway-BoldItalic" ;
    src:url(../../assets/fonts/Raleway-BoldItalic.ttf);

}


.search{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}
.search>h1{
    font-size: 40px;
    font-family: "Raleway-BoldItalic";
    text-align: center;
}
.search__div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.search__home{
    width: 40vw;
    height: 40px;
}

.btn__search{
    background-color: blueviolet;
    /* background-image:  "../../assets/icons/Search-icon.png"; */
    width: 45px;
    height: 40px;
}




