.photo_user{
    width: 280px;
    height: 280px
}

.container__user{
    width: 30%;
    margin-left: 85px;
    margin-right: 0px;
    margin-top: 45px;

}

.user__name {    
    font-family: Raleway;
    font-size: 35px;
    font-weight: 300;
    color: #000000;
    margin: 10px 0px;
  }
  
  .user__login {   
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    color: #5c5c5c;
    margin: 15px 0px;
  }

   